<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qf.tgp.plamtv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TVApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_qm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ui.activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.LiveActivity" android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name=".ui.activitys.ColumnSecondActivity" />
        <activity android:name=".ui.activitys.ColumnThirdActivity" />
        <activity android:name=".ui.activitys.SearchActivity" />
        <activity android:name=".ui.activitys.Recommand_intent" android:configChanges="keyboardHidden|screenSize|orientation">

        </activity>
    </application>

</manifest>